---
import ButtonGroup from './ButtonGroup.astro';
import type { ButtonProps } from './Button.astro';
import { t } from '../i18n/config';
import { getLocaleFromContext } from '../i18n/astro';
const locale = getLocaleFromContext(Astro);

const joinContent = {
  title: t(locale,'title','join'),
  description: t(locale,'description','join'),
  buttons: [
    { text: t(locale,'buttonContact','join'), href: 'mailto:cadalus@leoxd.dk', variant: 'primary' }
  ] satisfies ButtonProps[],
  footer: { text: t(locale,'impressum','join'), href: 'https://kw.media/impressum/' },
  p1: t(locale,'p1','join'),
  p2: t(locale,'p2','join')
};
---

<section class="join-contact" id="join">
  <div class="join-content">
    <h2>{joinContent.title}</h2>
    <p class="join-description">
      {joinContent.description}
    </p>
    <ButtonGroup buttons={joinContent.buttons} />
    <div class="small">
      <p set:html={joinContent.p1} />
      <p set:html={joinContent.p2} />
      <a href={joinContent.footer.href}>{joinContent.footer.text}</a>
    </div>
  </div>
</section>

<style>
  .join-contact {
    max-width: 800px;
    margin: auto;
    padding: 2rem 4rem 6rem;
    background-color: #f3f6f9;
    border-radius: 8px 8px 0 0;
    position: relative;
    z-index: 2;
  }

  .join-content {
    text-align: center;
  }

  .join-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .small {
    font-size: smaller;
    margin-top: 2rem;
  }
</style>