---
import ButtonGroup from './ButtonGroup.astro';
import type { ButtonProps } from './Button.astro';

const joinContent = {
  title: "Join Cadalus",
  description: "At the moment, Cadalus is still looking for the inital partners to found the company. If you'd like to be one of the co-founders / founding members, please contact me.",
  buttons: [
    {
      text: "Contact Us",
      href: "mailto:cadalus@leoxd.dk",
      variant: "primary"
    }
  ] satisfies ButtonProps[],
  footer: {
    text: "Impressum",
    href: "https://kw.media/impressum/"
  }
};
---

<section class="join-contact" id="join">
  <div class="join-content">
    <h2>{joinContent.title}</h2>
    <p class="join-description">
      {joinContent.description}
    </p>
    <ButtonGroup buttons={joinContent.buttons} />
    <p class="small">
      <a href={joinContent.footer.href}>{joinContent.footer.text}</a>
    </p>
  </div>
</section>

<style>
  .join-contact {
    max-width: 800px;
    margin: auto;
    padding: 2rem 4rem 6rem;
    background-color: #f3f6f9;
    border-radius: 8px 8px 0 0;
    position: relative;
    z-index: 2;
  }

  .join-content {
    text-align: center;
  }

  .join-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .small {
    font-size: smaller;
    margin-top: 2rem;
  }
</style>
</style>