---
import ButtonGroup from './ButtonGroup.astro';
import type { ButtonProps } from './Button.astro';

const joinContent = {
  title: "Join Cadalus",
  description: "At the moment, Cadalus is still looking for the inital partners to found the company. If you'd like to be one of the co-founders / founding members, please contact me.",
  buttons: [
    {
      text: "Contact Us",
      href: "mailto:cadalus@leoxd.dk",
      variant: "primary"
    }
  ] satisfies ButtonProps[],
  footer: {
    text: "Impressum",
    href: "https://kw.media/impressum/"
  }
};
---

<section class="join-contact" id="join">
  <div class="join-content">
    <h2>{joinContent.title}</h2>
    <p class="join-description">
      {joinContent.description}
    </p>
    <ButtonGroup buttons={joinContent.buttons} />
    <p class="small">
      <p>
          The Cadalus project has been initiated by <a
            href="https://leo.wattenberg.dk">Leo Wattenberg</a
          >, who previously worked on the <a href="https://audacityteam.org"
            >Audacity</a
          > audio editor for 4 years. The task of his there was similar to what he
          envisions for Cadalus: creating a free and open source alternative to proprietary
          software which is easy to use, reliable and eventually to surpass proprietary
          software in terms of features and user experience.
        </p>
        <p>
          If created, Cadalus would likely be licensed <a
            href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a
          >.
        </p>
      <a href={joinContent.footer.href}>{joinContent.footer.text}</a>
    </p>
  </div>
</section>

<style>
  .join-contact {
    max-width: 800px;
    margin: auto;
    padding: 2rem 4rem 6rem;
    background-color: #f3f6f9;
    border-radius: 8px 8px 0 0;
    position: relative;
    z-index: 2;
  }

  .join-content {
    text-align: center;
  }

  .join-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .small {
    font-size: smaller;
    margin-top: 2rem;
  }
</style>